<ion-header [translucent]="true" class="ion-no-border">

  <mat-toolbar style="background: rgb(27, 27, 27); color: pink;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon (click)="openFirst()" >menu</mat-icon>
    </button>
    <span>
      RegistrAPP</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon [routerLink]="['/home']">home</mat-icon>
    </button>
  </mat-toolbar>

</ion-header>

<ion-content>

  <div class="body">

    <div class="contenedor1">
      <div class="usuario">
        <ion-label class="horario">Horario de</ion-label>
        <ion-label class="nombre">Camilo Santander</ion-label>
      </div>

    </div>

    <div class="contenedor2">

      <ion-label class="label">Vea su horario aqui...</ion-label>

      <div class="borde_tabla">
        <div class="tabla">
          <ion-row class="titulo">
            <ion-col size="12"><img src="assets\icon\horario.png" alt="">Horario</ion-col>
          </ion-row>

          <ion-row class="cabesera">
            <ion-col size="12">Ingenieria en informatica</ion-col>
          </ion-row>

          <ion-row class="cuerpo">
            <ion-col size="12" class="desplegable">
              <ion-label>Lunes <ion-icon name="caret-down-outline"></ion-icon></ion-label>
            </ion-col>

            <div class="info">
              <ion-col size="12" class="especifico">
                <ion-label>PROCESO DE PORTAFOLIO 4_008D</ion-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <ion-label class="dia">10:40 a 12:50</ion-label>
              </ion-col>

              <ion-col size="12" class="especifico">
                <ion-label>PROCESO DE PORTAFOLIO 4_008D</ion-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <ion-label class="dia">10:40 a 12:50</ion-label>
              </ion-col>

              <ion-col size="12" class="especifico">
                <ion-label>PROCESO DE PORTAFOLIO 4_008D</ion-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <ion-label class="dia">10:40 a 12:50</ion-label>
              </ion-col>

            </div>
          </ion-row>

          <ion-row class="cuerpo">
            <ion-col size="12" class="desplegable">
              <ion-label>Martes <ion-icon name="caret-down-outline"></ion-icon></ion-label>
            </ion-col>

            <div class="info">
              <ion-col size="12" class="especifico">
                <ion-label>PROCESO DE PORTAFOLIO 4_008D</ion-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <ion-label class="dia">10:40 a 12:50</ion-label>
              </ion-col>

              <ion-col size="12" class="especifico">
                <ion-label>PROCESO DE PORTAFOLIO 4_008D</ion-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <ion-label class="dia">10:40 a 12:50</ion-label>
              </ion-col>

              <ion-col size="12" class="especifico">
                <ion-label>PROCESO DE PORTAFOLIO 4_008D</ion-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <ion-label class="dia">10:40 a 12:50</ion-label>
              </ion-col>

            </div>
          </ion-row>

          <ion-row class="cuerpo">
            <ion-col size="12" class="desplegable">
              <ion-label>Miercoles <ion-icon name="caret-down-outline"></ion-icon></ion-label>
            </ion-col>

            <div class="info">
              <ion-col size="12" class="especifico">
                <ion-label>PROCESO DE PORTAFOLIO 4_008D</ion-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <ion-label class="dia">10:40 a 12:50</ion-label>
              </ion-col>

              <ion-col size="12" class="especifico">
                <ion-label>PROCESO DE PORTAFOLIO 4_008D</ion-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <ion-label class="dia">10:40 a 12:50</ion-label>
              </ion-col>

              <ion-col size="12" class="especifico">
                <ion-label>PROCESO DE PORTAFOLIO 4_008D</ion-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <ion-label class="dia">10:40 a 12:50</ion-label>
              </ion-col>

            </div>
          </ion-row>


          <ion-row class="cuerpo">
            <ion-col size="12" class="desplegable">
              <ion-label>Jueves <ion-icon name="caret-down-outline"></ion-icon></ion-label>
            </ion-col>

            <div class="info">
              <ion-col size="12" class="especifico">
                <ion-label>PROCESO DE PORTAFOLIO 4_008D</ion-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <ion-label class="dia">10:40 a 12:50</ion-label>
              </ion-col>

              <ion-col size="12" class="especifico">
                <ion-label>PROCESO DE PORTAFOLIO 4_008D</ion-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <ion-label class="dia">10:40 a 12:50</ion-label>
              </ion-col>

              <ion-col size="12" class="especifico">
                <ion-label>PROCESO DE PORTAFOLIO 4_008D</ion-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <ion-label class="dia">10:40 a 12:50</ion-label>
              </ion-col>

            </div>
          </ion-row>

          <ion-row class="cuerpo">
            <ion-col size="12" class="desplegable">
              <ion-label>Viernes <ion-icon name="caret-down-outline"></ion-icon></ion-label>
            </ion-col>

            <div class="info">
              <ion-col size="12" class="especifico">
                <ion-label>PROCESO DE PORTAFOLIO 4_008D</ion-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <ion-label class="dia">10:40 a 12:50</ion-label>
              </ion-col>

              <ion-col size="12" class="especifico">
                <ion-label>PROCESO DE PORTAFOLIO 4_008D</ion-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <ion-label class="dia">10:40 a 12:50</ion-label>
              </ion-col>

              <ion-col size="12" class="especifico">
                <ion-label>PROCESO DE PORTAFOLIO 4_008D</ion-label>
              </ion-col>
              <ion-col size="12" class="hora">
                <ion-label class="dia">10:40 a 12:50</ion-label>
              </ion-col>

            </div>
          </ion-row>

        </div>
      </div>

      <div class="espacio">

      </div>

      <div class="espacio2">

      </div>
    </div>
  </div>
</ion-content>